@charset "UTF-8";

.order-table {
	border-collapse: collapse;
	background:var(--dark);
	border : 1px solid var(--dark);
}

.order-table-header {
	text-align: center;
	background: no-repeat scroll 0 0 var(--medium);	
	border-bottom: 1px solid var(--dark);
	padding: 1rem;
	color : var(--light);
}

.order-table-odd-row {
	text-align: center;
	background: no-repeat scroll 0 0 var(--light);
	border-top: 1px solid var(--dark);
}
.order-table-even-row {
	text-align: center;
	background: no-repeat scroll 0 0 var(--less-light);
	border-top: 1px solid var(--dark);
}

.order-table-colum {
	
	background: no-repeat scroll 0 0 var(--dark);	
	}